<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all">
        <title>{% block title %}Чат підтримки{% endblock %}</title>
        {% block css %}{% endblock %}
    </head>

    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <script src="{% static 'js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>

</html>
