{% load static %}

<meta charset="UTF-8" />
<title>Ласкаво просимо до чату підтримки!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Ласкаво просимо до чату підтримки!" />
<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<div class="container">
    <div class="codrops-top">
        <div class="clr"></div>
    </div>
    <header>
        <h1>Ласкаво просимо до чату підтримки!</span></h1>
    </header>
    <div id="container_demo" >
        <div id="wrapper">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>
