{% extends "base_auth.html" %}
{% load static %}

{% block content %}
                        <div id="login" class="animate form">
                            <form action="{% url 'login' %}" role="form" method="post" autocomplete="on">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" />

                                <h1>Увійти</h1>

                                <div id="div_id_username" class="clearfix control-group {% if form.username.errors %}error{% endif %}">
                                    <label for="username" class="uname" data-icon="u" > Ім'я користувача </label>
                                    <input id="username" maxlength="100" name="username" required="required" type="text"
                                           placeholder="myusername"
                                           {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>

                                           {% if form.username.errors %}
                                              <p class="text-error">
                                                {{ form.username.errors|striptags }}
                                              </p>
                                           {% endif %}
                                </div>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> Ваш пароль </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                                </p>
                                {% if form.non_field_errors %}
                                   {% for error in form.non_field_errors %}
                                         <div style="border: none; color: red">{{ error }}</div>
                                    {% endfor %}
                               {% endif %}
                                <p class="login button">
                                    <input type="submit" value="Увійти" />
                                </p>
                                <p class="change_link">
                                    Ви ще не учасник?
                                    <a href="{% url 'sign_up' %}" class="to_register">Зареєструйтесь</a>
                                </p>
                            </form>
                        </div>
{% endblock %}
