{% extends "base_auth.html" %}
{% load static %}

{% block content %}
            <div id="register" class="form">
                <form action="{% url 'sign_up' %}" role="form" method="post" autocomplete="on">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />

                    <h1> Зареєструйтесь </h1>

                    <div id="div_id_usernamesignup" class="clearfix control-group {% if form.username.errors %}error{% endif %}">
                        <label for="usernamesignup" class="uname" data-icon="u" > Ім'я користувача </label>
                        <input id="usernamesignup" maxlength="100" name="username" required="required" type="text"
                              placeholder="myusername"
                              {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
                              {% if form.errors.username %}
                                  {% for error in form.errors.username %}
                                     <div style="border: none; color: red">{{ error }}</div>
                                  {% endfor %}
                              {% endif %}
                    </div>
                    <p>
                        <label for="passwordsignup" class="youpasswd" data-icon="p">Ваш пароль </label>
                        <input id="passwordsignup" name="password1" required="required" type="password" placeholder="eg. X8df!90EO"/>
                        {% if form.errors.password1 %}
                            {% for error in form.errors.password1 %}
                               <div style="border: none; color: red">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Повторіть Ваш пароль </label>
                        <input id="passwordsignup_confirm" name="password2" required="required" type="password" placeholder="eg. X8df!90EO"/>
                        {% if form.errors.password2 %}
                            {% for error in form.errors.password2 %}
                               <div style="border: none; color: red">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p class="login button">
                        <input type="submit" value="Зареєструвати" />
                    </p>
                    <p class="change_link">
                        Уже є учасником?
                        <a href="{% url 'login' %}" class="to_register"> Увійти </a>
                    </p>
                </form>
            </div>
{% endblock %}
